html {
  width: 100%;
  height: 100%;
  border: 0px;
  display: block;
}

body {
  font: 12px Arial, SimSun;
  margin: 0px;
  padding: 0px;
}

div {
  display: block;
}

.layout-footer-block {
  background-color: #EFEFEF;
  margin: 0px;
  font-size: 12px;
  text-align: center;
  border-top: 1px solid #E7E7E7;
  line-height: 1px;
}

.layout-footer-statement {
  text-align: center;
  color: #898989;
  margin-top: 15px;
  height: 15px;
}

.layout-center-container {
  width: 1000px;
  margin: 0 auto;
}

.layout-center-circul {
  margin-bottom: 12px;
  height: 180px;
}

.circul-container-left {
  width: 685px;
  float: left;
  overflow: hidden;
}

.circul-image-wrap {
  width: 690px;
  height: 180px;
}

.circul-ontainer-right {
  width: 308px;
  height: 180px;
  float: left;
  margin-left: 6px;
  background-position: -2px 0;
  background-image: url(http://tb2.bdstatic.com/tb/static-spage/img/new_index_yao/interest_num_e455e66.png);
}

.circul-wrap-content {
  position: relative;
  overflow: hidden;
}

.image-list {
  width: 690px;
  height: 180px;
  left: 0px;
  margin-left: -40px;
  position: relative;
}

.image-list li.image-item {
  padding: 2px;
  padding-left: 0px;
  float: left;
  overflow: visible;
}

.image-list li.image-item img {
  z-index: 10px;
}

.content-desc {
  width: 1000px;
  margin: 0 auto;
  background: url(http://tb2.bdstatic.com/tb/static-spage/img/big-bg_3c7e924.png) 
              repeat-y -4px 0
}

.left-desc {
  /*float: left;*/
  width: 210px;
  border-top: 1px solid #DCDCDC
}

.left-content-container {
  margin: 0;
  z-index: 10;
}

.left-top-category {
  margin: 14px 0 0;
  padding: 4px 10px 0;
}

.left-top-category .title {
  font-weight: 700;
  color: #444;
  font-size: 12px;
  font-family: Arial SimSun;
}

.left-top-category .gap {
  margin-left: 10px;
  height: 1px;
  font-size: 0;
  background: #fff;
  border-top: 1px solid #d7d7d7
}

.left-top-category div {
  display: inline-block;
  vertical-align: middle;
}

.left-category-group {
  padding: 4px 0 10px 1px;
  position: relative;
  z-index: 100;
}

.left-group-item {
  padding: 9px 10px 5px 9px;
  border: 0;
  background: url(http://tb2.bdstatic.com/tb/static-spage/img/gap-line_07dff14.png) no-repeat 0 -1px;
}

.left-group-item-content .title {
  font-size: 14px;
  font-family: STHeiti,"Microsoft Yahei","Microsoft YaHei",Arial,sans-serif;
  color: #0086c8;
}

.left-category-group .typeicon {
  display: inline-block;
  width: 25px;
  height: 18px;
  margin: 0;
  vertical-align: middle;
  background: url(http://tb2.bdstatic.com/tb/static-spage/img/css1_00fb106.png)
              no-repeat;
}

.left-category-group .first-border-top {
  background: transparent;
}

.left-category-group .entertainment {
  background-position: -341px -118px;
}

.left-category-group .tvshows {
  background-position: -205px -119px;
}

.left-category-group .teleplay {
  background-position: -463px -118px;
}

.left-category-group .movie {
  background-position: -495px -120px;
}

.left-category-group .sports {
  background-position: -293px -117px;
}

.left-category-group .literature {
  background-position: -13px -119px;
}

.left-category-group .livingexport {
  background-position: -156px -119px;
}

.left-category-group .xianqu {
  background-position: -521px -117px;
}

.left-category-group .game {
  background-position: -126px -116px;
}

.left-category-group .cartoon {
  background-position: -44px -119px;
}

.left-category-group .academy {
  background-position: -267px -119px;
}

.left-category-group .district {
  background-position: -179px -119px;
}

.left-category-group .humanity {
  background-position: -364px -119px;
}

.left-category-group .all-wraper {
  margin: 4px 0 25px;
  padding-left: 10px;
}

.left-category-group .all {
  width:182px;
  display: inline-block;
  height: 30px;
  background: url(http://tb2.bdstatic.com/tb/static-spage/img/css1_00fb106.png) no-repeat -16px -256px;
}

.left-category-group span {
  margin-top: 5px;
}

.left-category-group .more-txt {
  display: inline-block;
  color: #444;
  margin-left: 60px;
  font-family: STHeiti,"Microsoft Yahei", "Microsoft Yahei", Arial, sans-serif;
  font-size: 14px;
}

.left-group-item-content a {
  display: inline-block;
  padding: 4px 4px 2px 2px;
  color: #999;
}

.left-content-container a {
  text-decoration: none;
}

.district-wraper a:hover {
  text-decoration: underline;
  color: #fff;
}

.district-wraper {
  width: 190px;
  height: 40px;
  overflow: hidden;
}

.left-category-group .left-group-item-hover{
  margin: 0;
  margin-left: -1px;
  padding-left: 10px;
  background: url(http://tb2.bdstatic.com/tb/static-spage/img/directory-hover_747ad61.png) no-repeat -6px -6px;
} 

.item a{
  color: #fff;
}

.progress-bar {
  width: 150px;
  margin: 14px 0 0 420px;
}

.progress-prev-item {
  line-height: 14px;
  width: 14px;
  height: 14px;
  float: left;
  display: block;
  cursor: pointer;
  margin-right: 11px;
  text-indent: -9999px;
  background-image: url(http://tb2.bdstatic.com/tb/static-spage/img/new_index_yao/carousel_ffad95a.png);
}

.progress-next-item {
  line-height: 14px;
  width: 14px;
  height: 14px;
  float: left;
  display: block;
  cursor: pointer;
  margin-right: 11px;
  text-indent: -999px;
  background-image: url(http://tb2.bdstatic.com/tb/static-spage/img/new_index_yao/carousel_ffad95a.png);
}

.img-page {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.img-page li {
  line-height: 14px;
  width: 14px;
  height: 14px;
  float: left;
  display: block;
  cursor: pointer;
  margin-right: 11px;
  text-indent: -999px;
  background-image: url(http://tb2.bdstatic.com/tb/static-spage/img/new_index_yao/carousel_ffad95a.png)
}

ul.img-page li.active {
  background-position: -30px 0
}

ul.img-page li.unactive {
  background-position: -46px 0
}

.tip-layer-container {
  position: absolute;
  z-index: 1000;
/*  top: 91px;
  left: 211px;*/
  width: 666px;
  height: auto;
  display: none;
}

.tip-message-iframe {
  background-color: #fcfcfc;
  border: 1px solid #CCC;
  border-left: 0;
  box-shadow: 1px 1px 0 #f3f3f3
}

.up-container {

}

.directory-sub-frame {
  margin: 0 20px;
  background: transparent;
  font-size: 12px;
}

.directory-sub-frame .m-title {
  padding: 10px 0 8px;
  font-size: 16px;
  font-family: STHeiti,"Microsoft Yahei","Microsoft YaHei",Arial,sans-serif;
  border-bottom: 1px dotted #ddd;
  color: #4444;
}

.directory-sub-frame .content-dis {
  padding-top: 7px;
}

.directory-sub-frame .d-item {
  display: inline-block;
  text-decoration: none;
  color: #666;
  padding: 2px 3px;
  margin-top: 4px;
}

.directory-sub-frame .recommend-wrap {
  margin-bottom: 30px;
}

.directory-sub-frame .recommend-forum {
  background: url(http://tb2.bdstatic.com/tb/static-spage/img/css1_00fb106.png) no-repeat;
  background-position: -337px -453px;
  padding-left: 20px;
  width: 100px;
  color: #268DCB;
  margin: 12px 0 3px;
}

.recommend-forum .rec-item {
  display: inline-block;
  text-decoration: none;
  color: #666;
  margin-top: 8px;
  border: 1px solid #e0e0e0;
  background: #fff;
  border-radius: 3px;
  height: 18px;
  line-height: 18px;
  padding: 0 5px;
  margin-right: 10px;
}

.m-title a {
  display: inline-block;
  padding: 4px 4px 2px 2px;
  color: #999;
}

.content-dis .item-gap {
  height: 12px;
  width: 0;
  display: inline-block;
  border-left: 1px solid #D6D6D6;
  vertical-align: -2px;
  margin: 0 6px;
}

.recommend-wrap a {
  display: inline-block;
  font: 12px Arial, SimSun
  color: black;
  text-align: center;
  vertical-align: center;
  border-radius: 3;
  background-color: #ffffff;
  padding: 2px 6px;
  color: black;
  border: 1px solid #CCCCCC;
}